In [4]:
import pandas as pd
import matplotlib.pyplot as plt
df_activities = pd.read_csv("cardioActivities.csv",parse_dates=True,index_col="Date")
df_run = df_activities[df_activities["Type"]=="Running"].copy()
df_run.drop(["Friend's Tagged","Notes"],inplace=True,axis=1)
df_walk = df_activities[df_activities["Type"]=="Walking"].copy()
df_walk.drop(["Friend's Tagged","Notes"],inplace=True,axis=1)
df_cycle = df_activities[df_activities["Type"]=="Cycling"].copy()
df_cycle.drop(["Friend's Tagged","Notes"],inplace=True,axis=1)
df_run.head()

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),GPX File
Date,,,,,,,,,,,
2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,2018-11-11-140512.gpx
2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,2018-11-09-150235.gpx
2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,2018-11-04-160500.gpx
2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,2018-11-01-140358.gpx
2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,2018-10-27-170136.gpx

In [5]:
df_walk.head()

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),GPX File
Date,,,,,,,,,,,
2013-08-15 18:49:50,666cbe78-b3d5-4bbb-8a22-2717507d32c2,Walking,NaN,2.48,2:23:46,57:56,1.04,306.0,67,NaN,2013-08-15-184950.gpx
2013-08-08 07:56:08,9ea3ec6e-48fa-417f-8bdf-2b197e19f5d4,Walking,NaN,1.51,15:24,10:11,5.89,85.0,6,NaN,2013-08-08-075608.gpx
2013-06-03 07:04:59,d091607e-10a2-467a-93d6-f2c54d47a0d9,Walking,NaN,1.33,11:59,9:03,6.63,76.0,5,NaN,2013-06-03-070459.gpx
2013-04-29 18:48:30,f157d4ff-bbf3-47e9-b07c-58f692ef9e6f,Walking,NaN,1.37,22:39,16:30,3.64,95.0,10,NaN,2013-04-29-184830.gpx
2013-04-29 13:10:14,313fbef4-deeb-4da5-b1b2-ecee74cba0f6,Walking,NaN,3.83,38:30,10:04,5.96,255.0,25,NaN,2013-04-29-131014.gpx

In [6]:
df_cycle.head()

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),GPX File
Date,,,,,,,,,,,
2018-10-06 16:45:02,4c163abe-3a57-42fd-b50b-7f365960cbd4,Cycling,NaN,19.63,1:26:26,4:24,13.63,577.0,210,79.0,2018-10-06-164502.gpx
2018-09-16 14:55:03,30aaa821-1d3a-4f2f-9688-8543cebbd6e8,Cycling,NaN,32.61,1:55:15,3:32,16.98,830.0,462,118.0,2018-09-16-145503.gpx
2018-09-01 17:06:15,2bd1841f-b428-4683-a41b-2bfb4be7e908,Cycling,NaN,36.89,1:58:39,3:13,18.65,937.0,491,122.0,2018-09-01-170615.gpx
2018-08-28 18:44:33,c9a8e088-441d-4b3f-bfbc-287e87585ca7,Cycling,NaN,28.17,1:27:07,3:06,19.40,685.0,400,111.0,2018-08-28-184433.gpx
2018-08-25 17:18:32,12723b6e-571b-4b68-be17-2c797982d3f9,Cycling,NaN,19.41,1:11:33,3:41,16.28,536.0,199,124.0,2018-08-25-171832.gpx

In [12]:
df_run_walk_cycle = df_run.append([df_walk,df_cycle]).sort_index(ascending=False)
df_run_walk_cycle.head()

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),GPX File
Date,,,,,,,,,,,
2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,2018-11-11-140512.gpx
2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,2018-11-09-150235.gpx
2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,2018-11-04-160500.gpx
2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,2018-11-01-140358.gpx
2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,2018-10-27-170136.gpx

In [13]:
dist_climb_cols = ['Distance (km)','Climb (m)']
df_totals = df_run_walk_cycle.groupby("Type")[dist_climb_cols].sum()
df_totals

         Distance (km)  Climb (m)
Type
Cycling         680.58       6976
Running        5224.50      57278
Walking          33.45        349

In [16]:
df_summary = df_run_walk_cycle.groupby("Type")['Average Speed (km/h)','Distance (km)','Climb (m)'].sum()
df_summary

<ipython-input-16-21dd73ec63ea>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_summary = df_run_walk_cycle.groupby("Type")['Average Speed (km/h)','Distance (km)','Climb (m)'].sum()

         Average Speed (km/h)  Distance (km)  Climb (m)
Type
Cycling                554.63         680.58       6976
Running               5074.84        5224.50      57278
Walking                 99.89          33.45        349

In [17]:
df_summary.stack()

Type
Cycling  Average Speed (km/h)      554.63
         Distance (km)             680.58
         Climb (m)                6976.00
Running  Average Speed (km/h)     5074.84
         Distance (km)            5224.50
         Climb (m)               57278.00
Walking  Average Speed (km/h)       99.89
         Distance (km)              33.45
         Climb (m)                 349.00
dtype: float64